<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .Title {
            text-align: center;
            color: blueviolet;
        }
        .maintenance {
            text-align: center;
            border: black;
        }

    </style>
    <title>Digital Blood Bank Nepal</title>
</head>
<body>
    <H1 class = "Title">Hello World!</H1>
    <p class="maintenance">This is just a placeholder text while we are developing this site in the backend. Hope to see you all soon </p>

</body>
</html>